In [54]:
import pandas as pd
import numpy as np
df=pd.read_csv('tiempos_por_tecla.csv')
df

,tiempo_id,usuario,practica,tecla,up,down,anterior,anterior_down,modo
0,1,1,1,69,43,0,0,0,1
1,2,1,1,83,237,157,69,0,1
2,3,1,1,84,458,330,83,157,1
3,4,1,1,65,571,426,84,330,1
4,5,1,1,32,650,572,65,426,1
...,...,...,...,...,...,...,...,...,...
232198,232199,79,4,69,43906,43786,73,43735,2
232199,232200,79,4,78,43975,43878,69,43786,2
232200,232201,79,4,32,44157,44049,78,43878,2
232201,232202,79,4,69,44100,44100,32,44049,2
232202,232203,79,4,83,44186,44186,69,44100,2

In [62]:
DF = df
DF = DF[['usuario','practica','modo','tecla','up','down']]

In [56]:
pdl = pd.DataFrame
k = len(DF.usuario.unique())

In [63]:
c = 0
l = 0
us = np.array
for i in range(k):
    f = DF.iloc[ c , 1 ]
    j = DF.iloc[ c , 2 ]
    m = j
    user = np.array
    user = DF.iloc[c]
    us = DF.iloc[c]
    c = c + 1
    while DF.iloc[c,5]!=0 :
        users = np.array
        users = DF.iloc[c,3:6]
        user = np.append(user,users)
        c = c + 1
    us = np.concatenate((us,user), axis=0)