In [5]:
import pandas as pd
import numpy as np
df=pd.read_csv('tiempos_por_tecla.csv')
df

,tiempo_id,usuario,practica,tecla,up,down,anterior,anterior_down,modo
0,1,1,1,69,43,0,0,0,1
1,2,1,1,83,237,157,69,0,1
2,3,1,1,84,458,330,83,157,1
3,4,1,1,65,571,426,84,330,1
4,5,1,1,32,650,572,65,426,1
...,...,...,...,...,...,...,...,...,...
232198,232199,79,4,69,43906,43786,73,43735,2
232199,232200,79,4,78,43975,43878,69,43786,2
232200,232201,79,4,32,44157,44049,78,43878,2
232201,232202,79,4,69,44100,44100,32,44049,2
232202,232203,79,4,83,44186,44186,69,44100,2

In [6]:
DF = df
DF = DF[['usuario','practica','modo','tecla','up','down']]

In [7]:
df['tiempo'] = df.down - df.anterior_down
df['anterior_up'] = df.up.shift(periods = 1)
df['solapa'] = np.where((df.anterior_up - df.down) > 0, 'si', 'no')
df['tecla'] = np.where(df.tecla == 32, 95, df.tecla)
df['anterior'] = np.where(df.anterior == 32, 95, df.anterior)
df['tecla'] = df['tecla'].apply(chr)
df['anterior'] = df['anterior'].apply(chr)
df['par'] = df.anterior + df.tecla
pt = df.groupby(by=['usuario','practica','modo'])['tiempo'].mean()
pt = pt.reset_index()
ps = df.groupby(by=['usuario','practica','modo'])['solapa'].sum()
ps = ps.reset_index()
pl = df.groupby(by=['usuario','practica','modo','par'])['tiempo'].mean()
pl = pl.reset_index()
pl

        usuario  practica  modo par  tiempo
0             1         1     1   E     0.0
1             1         1     1  ,_   895.5
2             1         1     1  .0   224.0
3             1         1     1  .1   320.0
4             1         1     1  .5   279.5
...         ...       ...   ...  ..     ...
121262       98         1     2  _Q   212.0
121263       98         1     2  _S   120.0
121264       98         1     2  _T   719.0
121265       98         1     2  _U   663.5
121266       98         1     2  _V   241.0

[121267 rows x 5 columns]

In [8]:
pl = pl.pivot(index=['usuario','practica','modo'], columns='par', values='tiempo')
pl = pl.reset_index()

par,usuario,practica,modo, E,",J",",_",.0,.1,.5,.A,...,_I,_J,_L,_O,_P,_Q,_S,_T,_U,_V
0,1,1,1,0.000000,NaN,895.5,224.0,320.0,279.5,NaN,...,168.0,290.0,315.666667,211.0,140.0,340.000000,206.0,848.0,184.0,111.5
1,1,1,2,0.000000,1059.0,159.0,255.0,271.0,297.0,1009.0,...,208.0,NaN,158.000000,383.0,179.4,176.500000,226.0,305.0,206.5,167.5
2,1,1,3,194.058333,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2,1,0.000000,NaN,200.0,353.0,255.0,264.5,NaN,...,168.0,464.0,352.333333,224.0,149.8,196.666667,160.0,430.0,678.5,127.5
4,1,2,2,0.000000,1029.0,145.0,238.0,399.0,294.5,928.0,...,152.0,NaN,145.000000,544.0,128.2,279.500000,173.0,336.0,200.0,144.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,95,1,2,0.000000,1648.0,1288.0,328.0,152.0,1064.0,792.0,...,436.0,NaN,152.000000,192.0,204.8,120.000000,160.0,152.0,183.5,144.0
947,96,1,2,0.000000,3575.0,728.0,863.0,1419.0,1308.0,1365.0,...,587.5,NaN,261.000000,584.0,751.6,952.500000,302.0,450.0,258.0,312.5
948,97,1,2,0.000000,1221.0,697.0,542.0,398.0,627.0,1121.0,...,438.0,NaN,260.000000,710.0,524.0,154.500000,1191.0,214.0,387.0,755.0
949,97,2,2,0.000000,1260.0,509.0,1254.0,379.0,421.5,1001.0,...,343.5,NaN,149.000000,1239.0,195.0,163.000000,629.0,294.0,319.0,311.0
950,98,1,2,0.000000,3184.0,228.0,328.0,334.0,971.5,4613.0,...,507.5,NaN,215.000000,547.0,306.8,212.000000,120.0,719.0,663.5,241.0

In [10]:
pl = pl.rename(columns={'par':'index'})
pl

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'