In [189]:
import pandas as pd
import numpy as np
df=pd.read_csv('tiempos_por_tecla.csv')
df

,tiempo_id,usuario,practica,tecla,up,down,anterior,anterior_down,modo
0,1,1,1,69,43,0,0,0,1
1,2,1,1,83,237,157,69,0,1
2,3,1,1,84,458,330,83,157,1
3,4,1,1,65,571,426,84,330,1
4,5,1,1,32,650,572,65,426,1
...,...,...,...,...,...,...,...,...,...
232198,232199,79,4,69,43906,43786,73,43735,2
232199,232200,79,4,78,43975,43878,69,43786,2
232200,232201,79,4,32,44157,44049,78,43878,2
232201,232202,79,4,69,44100,44100,32,44049,2
232202,232203,79,4,83,44186,44186,69,44100,2

In [190]:
DF = df
DF = DF[['usuario','practica','modo','tecla','up','down']]

In [191]:
df['tiempo'] = df.down - df.anterior_down
df['anterior_up'] = df.up.shift(periods = 1)
df['anterior_up'] = np.where(df['down'] == 0, 0, df['anterior_up'])
df['solapa'] = np.where((df.anterior_up - df.down) > 0, 1, 0)
df['tecla'] = np.where(df.tecla == 32, 95, df.tecla)
df['anterior'] = np.where(df.anterior == 32, 95, df.anterior)
df['tecla'] = df['tecla'].apply(chr)
df['anterior'] = df['anterior'].apply(chr)
df['par'] = df.anterior + df.tecla
pt = df.groupby(by=['usuario','practica','modo'])['tiempo'].mean()
pt = pt.reset_index()
pt = pt.rename(columns={'tiempo':'mean'})
pa = df.groupby(by=['usuario','practica','modo'])['solapa'].sum()
pa = pa.reset_index()
pl = df.groupby(by=['usuario','practica','modo','par'])['tiempo'].mean()
pl = pl.reset_index()
df

,tiempo_id,usuario,practica,tecla,up,down,anterior,anterior_down,modo,tiempo,anterior_up,solapa,par
0,1,1,1,E,43,0, ,0,1,0,0.0,0, E
1,2,1,1,S,237,157,E,0,1,157,43.0,0,ES
2,3,1,1,T,458,330,S,157,1,173,237.0,0,ST
3,4,1,1,A,571,426,T,330,1,96,458.0,1,TA
4,5,1,1,_,650,572,A,426,1,146,571.0,0,A_
...,...,...,...,...,...,...,...,...,...,...,...,...,...
232198,232199,79,4,E,43906,43786,I,43735,2,51,43826.0,1,IE
232199,232200,79,4,N,43975,43878,E,43786,2,92,43906.0,1,EN
232200,232201,79,4,_,44157,44049,N,43878,2,171,43975.0,0,N_
232201,232202,79,4,E,44100,44100,_,44049,2,51,44157.0,1,_E
232202,232203,79,4,S,44186,44186,E,44100,2,86,44100.0,0,ES

In [192]:
df

,tiempo_id,usuario,practica,tecla,up,down,anterior,anterior_down,modo,tiempo,anterior_up,solapa,par
0,1,1,1,E,43,0, ,0,1,0,0.0,0, E
1,2,1,1,S,237,157,E,0,1,157,43.0,0,ES
2,3,1,1,T,458,330,S,157,1,173,237.0,0,ST
3,4,1,1,A,571,426,T,330,1,96,458.0,1,TA
4,5,1,1,_,650,572,A,426,1,146,571.0,0,A_
...,...,...,...,...,...,...,...,...,...,...,...,...,...
232198,232199,79,4,E,43906,43786,I,43735,2,51,43826.0,1,IE
232199,232200,79,4,N,43975,43878,E,43786,2,92,43906.0,1,EN
232200,232201,79,4,_,44157,44049,N,43878,2,171,43975.0,0,N_
232201,232202,79,4,E,44100,44100,_,44049,2,51,44157.0,1,_E
232202,232203,79,4,S,44186,44186,E,44100,2,86,44100.0,0,ES

In [193]:
pl = pl.pivot(index=['usuario','practica','modo'], columns='par', values='tiempo')
pl = pl.reset_index()

In [194]:
ps = df.groupby(by=['usuario','practica','modo'])['tiempo'].std()
ps = ps.reset_index()
ps = ps.rename(columns={'tiempo':'std'})
ps

     usuario  practica  modo         std
0          1         1     1  247.187213
1          1         1     2  232.886798
2          1         1     3  254.744370
3          1         2     1  184.889401
4          1         2     2  200.028626
..       ...       ...   ...         ...
946       95         1     2  473.815904
947       96         1     2  518.964295
948       97         1     2  413.758821
949       97         2     2  368.950127
950       98         1     2  581.466738

[951 rows x 4 columns]

In [195]:
pl

par,usuario,practica,modo, E,",J",",_",.0,.1,.5,.A,...,_I,_J,_L,_O,_P,_Q,_S,_T,_U,_V
0,1,1,1,0.000000,NaN,895.5,224.0,320.0,279.5,NaN,...,168.0,290.0,315.666667,211.0,140.0,340.000000,206.0,848.0,184.0,111.5
1,1,1,2,0.000000,1059.0,159.0,255.0,271.0,297.0,1009.0,...,208.0,NaN,158.000000,383.0,179.4,176.500000,226.0,305.0,206.5,167.5
2,1,1,3,194.058333,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2,1,0.000000,NaN,200.0,353.0,255.0,264.5,NaN,...,168.0,464.0,352.333333,224.0,149.8,196.666667,160.0,430.0,678.5,127.5
4,1,2,2,0.000000,1029.0,145.0,238.0,399.0,294.5,928.0,...,152.0,NaN,145.000000,544.0,128.2,279.500000,173.0,336.0,200.0,144.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,95,1,2,0.000000,1648.0,1288.0,328.0,152.0,1064.0,792.0,...,436.0,NaN,152.000000,192.0,204.8,120.000000,160.0,152.0,183.5,144.0
947,96,1,2,0.000000,3575.0,728.0,863.0,1419.0,1308.0,1365.0,...,587.5,NaN,261.000000,584.0,751.6,952.500000,302.0,450.0,258.0,312.5
948,97,1,2,0.000000,1221.0,697.0,542.0,398.0,627.0,1121.0,...,438.0,NaN,260.000000,710.0,524.0,154.500000,1191.0,214.0,387.0,755.0
949,97,2,2,0.000000,1260.0,509.0,1254.0,379.0,421.5,1001.0,...,343.5,NaN,149.000000,1239.0,195.0,163.000000,629.0,294.0,319.0,311.0
950,98,1,2,0.000000,3184.0,228.0,328.0,334.0,971.5,4613.0,...,507.5,NaN,215.000000,547.0,306.8,212.000000,120.0,719.0,663.5,241.0

In [196]:
pp = df.merge(pt, on=['usuario','practica','modo'], how='outer')
pp = pp.merge(ps, on=['usuario','practica','modo'], how='outer')
pp['lec'] = np.where((pp['mean'] + pp['std']) < pp['tiempo'], 1, 0) 
pp

,tiempo_id,usuario,practica,tecla,up,down,anterior,anterior_down,modo,tiempo,anterior_up,solapa,par,mean,std,lec
0,1,1,1,E,43,0, ,0,1,0,0.0,0, E,208.613546,247.187213,0
1,2,1,1,S,237,157,E,0,1,157,43.0,0,ES,208.613546,247.187213,0
2,3,1,1,T,458,330,S,157,1,173,237.0,0,ST,208.613546,247.187213,0
3,4,1,1,A,571,426,T,330,1,96,458.0,1,TA,208.613546,247.187213,0
4,5,1,1,_,650,572,A,426,1,146,571.0,0,A_,208.613546,247.187213,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232198,232199,79,4,E,43906,43786,I,43735,2,51,43826.0,1,IE,178.169355,204.513255,0
232199,232200,79,4,N,43975,43878,E,43786,2,92,43906.0,1,EN,178.169355,204.513255,0
232200,232201,79,4,_,44157,44049,N,43878,2,171,43975.0,0,N_,178.169355,204.513255,0
232201,232202,79,4,E,44100,44100,_,44049,2,51,44157.0,1,_E,178.169355,204.513255,0
232202,232203,79,4,S,44186,44186,E,44100,2,86,44100.0,0,ES,178.169355,204.513255,0

In [197]:
pe = pp.groupby(by=['usuario','practica','modo'])['lec'].sum()
pe = pe.reset_index()
pe

     usuario  practica  modo  lec
0          1         1     1   17
1          1         1     2   16
2          1         1     3    6
3          1         2     1   19
4          1         2     2   18
..       ...       ...   ...  ...
946       95         1     2   22
947       96         1     2   30
948       97         1     2   29
949       97         2     2   32
950       98         1     2   23

[951 rows x 4 columns]

In [198]:
pc = pp.groupby(by=['usuario','practica','modo'])['lec'].count()
pc = pc.reset_index()
pc = pc.rename(columns={'lec': 'cant'})
pc

     usuario  practica  modo  cant
0          1         1     1   251
1          1         1     2   248
2          1         1     3   120
3          1         2     1   251
4          1         2     2   248
..       ...       ...   ...   ...
946       95         1     2   248
947       96         1     2   248
948       97         1     2   248
949       97         2     2   248
950       98         1     2   248

[951 rows x 4 columns]

In [199]:
pe = pe.merge(pc, on=['usuario','practica','modo'])
pe

     usuario  practica  modo  lec  cant
0          1         1     1   17   251
1          1         1     2   16   248
2          1         1     3    6   120
3          1         2     1   19   251
4          1         2     2   18   248
..       ...       ...   ...  ...   ...
946       95         1     2   22   248
947       96         1     2   30   248
948       97         1     2   29   248
949       97         2     2   32   248
950       98         1     2   23   248

[951 rows x 5 columns]

In [200]:
pe['mean_error'] = pe['cant'] / pe['lec']
pe

     usuario  practica  modo  lec  cant  mean_error
0          1         1     1   17   251   14.764706
1          1         1     2   16   248   15.500000
2          1         1     3    6   120   20.000000
3          1         2     1   19   251   13.210526
4          1         2     2   18   248   13.777778
..       ...       ...   ...  ...   ...         ...
946       95         1     2   22   248   11.272727
947       96         1     2   30   248    8.266667
948       97         1     2   29   248    8.551724
949       97         2     2   32   248    7.750000
950       98         1     2   23   248   10.782609

[951 rows x 6 columns]

In [201]:
pt

     usuario  practica  modo        mean
0          1         1     1  208.613546
1          1         1     2  212.379032
2          1         1     3  194.058333
3          1         2     1  191.752988
4          1         2     2  195.750000
..       ...       ...   ...         ...
946       95         1     2  274.895161
947       96         1     2  445.762097
948       97         1     2  339.149194
949       97         2     2  306.794355
950       98         1     2  401.290323

[951 rows x 4 columns]

In [202]:
ps

     usuario  practica  modo         std
0          1         1     1  247.187213
1          1         1     2  232.886798
2          1         1     3  254.744370
3          1         2     1  184.889401
4          1         2     2  200.028626
..       ...       ...   ...         ...
946       95         1     2  473.815904
947       96         1     2  518.964295
948       97         1     2  413.758821
949       97         2     2  368.950127
950       98         1     2  581.466738

[951 rows x 4 columns]

In [203]:
pl

par,usuario,practica,modo, E,",J",",_",.0,.1,.5,.A,...,_I,_J,_L,_O,_P,_Q,_S,_T,_U,_V
0,1,1,1,0.000000,NaN,895.5,224.0,320.0,279.5,NaN,...,168.0,290.0,315.666667,211.0,140.0,340.000000,206.0,848.0,184.0,111.5
1,1,1,2,0.000000,1059.0,159.0,255.0,271.0,297.0,1009.0,...,208.0,NaN,158.000000,383.0,179.4,176.500000,226.0,305.0,206.5,167.5
2,1,1,3,194.058333,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2,1,0.000000,NaN,200.0,353.0,255.0,264.5,NaN,...,168.0,464.0,352.333333,224.0,149.8,196.666667,160.0,430.0,678.5,127.5
4,1,2,2,0.000000,1029.0,145.0,238.0,399.0,294.5,928.0,...,152.0,NaN,145.000000,544.0,128.2,279.500000,173.0,336.0,200.0,144.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,95,1,2,0.000000,1648.0,1288.0,328.0,152.0,1064.0,792.0,...,436.0,NaN,152.000000,192.0,204.8,120.000000,160.0,152.0,183.5,144.0
947,96,1,2,0.000000,3575.0,728.0,863.0,1419.0,1308.0,1365.0,...,587.5,NaN,261.000000,584.0,751.6,952.500000,302.0,450.0,258.0,312.5
948,97,1,2,0.000000,1221.0,697.0,542.0,398.0,627.0,1121.0,...,438.0,NaN,260.000000,710.0,524.0,154.500000,1191.0,214.0,387.0,755.0
949,97,2,2,0.000000,1260.0,509.0,1254.0,379.0,421.5,1001.0,...,343.5,NaN,149.000000,1239.0,195.0,163.000000,629.0,294.0,319.0,311.0
950,98,1,2,0.000000,3184.0,228.0,328.0,334.0,971.5,4613.0,...,507.5,NaN,215.000000,547.0,306.8,212.000000,120.0,719.0,663.5,241.0

In [204]:
final = pe.merge(pt, on=['usuario','practica','modo'])
final = final.merge(pa, on=['usuario','practica','modo'])
final['prom_solapa'] = final['cant'] / final['solapa'] 
final = final.merge(pl, on=['usuario','practica','modo'])

In [205]:
final = final.drop(columns=['lec','cant','solapa'])
final

,usuario,practica,modo,mean_error,mean,prom_solapa, E,",J",",_",.0,...,_I,_J,_L,_O,_P,_Q,_S,_T,_U,_V
0,1,1,1,14.764706,208.613546,4.048387,0.000000,NaN,895.5,224.0,...,168.0,290.0,315.666667,211.0,140.0,340.000000,206.0,848.0,184.0,111.5
1,1,1,2,15.500000,212.379032,4.000000,0.000000,1059.0,159.0,255.0,...,208.0,NaN,158.000000,383.0,179.4,176.500000,226.0,305.0,206.5,167.5
2,1,1,3,20.000000,194.058333,2.790698,194.058333,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2,1,13.210526,191.752988,4.403509,0.000000,NaN,200.0,353.0,...,168.0,464.0,352.333333,224.0,149.8,196.666667,160.0,430.0,678.5,127.5
4,1,2,2,13.777778,195.750000,3.542857,0.000000,1029.0,145.0,238.0,...,152.0,NaN,145.000000,544.0,128.2,279.500000,173.0,336.0,200.0,144.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,95,1,2,11.272727,274.895161,2.032787,0.000000,1648.0,1288.0,328.0,...,436.0,NaN,152.000000,192.0,204.8,120.000000,160.0,152.0,183.5,144.0
947,96,1,2,8.266667,445.762097,19.076923,0.000000,3575.0,728.0,863.0,...,587.5,NaN,261.000000,584.0,751.6,952.500000,302.0,450.0,258.0,312.5
948,97,1,2,8.551724,339.149194,3.594203,0.000000,1221.0,697.0,542.0,...,438.0,NaN,260.000000,710.0,524.0,154.500000,1191.0,214.0,387.0,755.0
949,97,2,2,7.750000,306.794355,3.594203,0.000000,1260.0,509.0,1254.0,...,343.5,NaN,149.000000,1239.0,195.0,163.000000,629.0,294.0,319.0,311.0
950,98,1,2,10.782609,401.290323,41.333333,0.000000,3184.0,228.0,328.0,...,507.5,NaN,215.000000,547.0,306.8,212.000000,120.0,719.0,663.5,241.0

In [206]:
final = final.groupby(by=['usuario','modo']).mean()
final = final.drop(columns='practica')
final = final.reset_index()
final

,usuario,modo,mean_error,mean,prom_solapa, E,",J",",_",.0,.1,...,_I,_J,_L,_O,_P,_Q,_S,_T,_U,_V
0,1,1,17.471681,180.972112,4.014113,0.00000,NaN,207.460000,258.160000,254.000000,...,201.58000,390.96,332.320000,254.560000,148.688000,213.133333,173.840000,306.960000,235.060000,158.840000
1,1,2,22.169822,208.080000,3.795483,0.00000,1053.640000,143.440000,270.680000,278.680000,...,162.24000,NaN,151.880000,292.440000,147.120000,221.460000,170.480000,345.320000,184.440000,152.240000
2,1,3,22.220965,169.356340,3.183127,169.35634,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,62,1,9.191094,247.789094,3.703869,0.00000,NaN,115.125000,495.312500,489.812500,...,332.71875,325.75,215.791667,513.312500,356.900000,275.333333,224.750000,231.562500,546.156250,467.312500
4,62,2,8.805073,269.784946,3.998959,0.00000,1265.833333,117.166667,563.333333,331.000000,...,310.50000,NaN,211.333333,631.833333,319.733333,326.083333,279.166667,168.333333,465.916667,425.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,94,2,15.755556,362.631720,16.739105,0.00000,3897.333333,220.666667,589.333333,632.666667,...,392.00000,NaN,285.333333,264.333333,346.466667,182.500000,278.000000,395.666667,473.166667,231.833333
61,95,2,11.272727,274.895161,2.032787,0.00000,1648.000000,1288.000000,328.000000,152.000000,...,436.00000,NaN,152.000000,192.000000,204.800000,120.000000,160.000000,152.000000,183.500000,144.000000
62,96,2,8.266667,445.762097,19.076923,0.00000,3575.000000,728.000000,863.000000,1419.000000,...,587.50000,NaN,261.000000,584.000000,751.600000,952.500000,302.000000,450.000000,258.000000,312.500000
63,97,2,8.150862,322.971774,3.594203,0.00000,1240.500000,603.000000,898.000000,388.500000,...,390.75000,NaN,204.500000,974.500000,359.500000,158.750000,910.000000,254.000000,353.000000,533.000000
64,98,2,10.782609,401.290323,41.333333,0.00000,3184.000000,228.000000,328.000000,334.000000,...,507.50000,NaN,215.000000,547.000000,306.800000,212.000000,120.000000,719.000000,663.500000,241.000000