In [1]:
import pandas as pd
df=pd.read_csv('tiempos_por_tecla.csv')
df

             1  1.1  1.2  69     43      0  0.1    0.2  1.3
0            2    1    1  83    237    157   69      0    1
1            3    1    1  84    458    330   83    157    1
2            4    1    1  65    571    426   84    330    1
3            5    1    1  32    650    572   65    426    1
4            6    1    1  69    778    714   32    572    1
...        ...  ...  ...  ..    ...    ...  ...    ...  ...
232197  232199   79    4  69  43906  43786   73  43735    2
232198  232200   79    4  78  43975  43878   69  43786    2
232199  232201   79    4  32  44157  44049   78  43878    2
232200  232202   79    4  69  44100  44100   32  44049    2
232201  232203   79    4  83  44186  44186   69  44100    2

[232202 rows x 9 columns]